<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.lesson8menu">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"

        tools:targetApi="31">
        <activity
            android:name="com.example.lesson8menu.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity android:name="com.example.lesson8menu.SelectorActivity"/>
        <activity android:name="com.example.lesson8menu.game2048test.SplashScreen"/>
        <activity android:name="com.example.lesson8menu.game2048test.Menu2048" />
        <activity android:name="com.example.lesson8menu.game2048test.GameActivity" />
        <activity android:name="com.example.lesson8menu.game2048test.ScoreManagement" />

        <activity android:name=".lightout.StartLightOut"/>
        <activity android:name=".lightout.HardGame" />
        <activity android:name=".lightout.MediumGame" />
        <activity android:name=".lightout.EasyGame" />
    </application>

</manifest>